$font-url: "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic";

@import url($font-url);

// font
$font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$proverb-font-size: 24px;
$line-height: 1.4;

// colors
$primary-color: #527DA5;
$accent-color: #4BA6D7;
$body-text: #444444;
$box-fill: #FBFBFB;
$lines: #EEEEEE;
$site-bg: #F5F5F5;
$white: #FFFFFF;
$gray1: #CCCCCC;
$selection: #b3d4fc;
$main-content-bg: rgba(0, 0, 0, 0.2);
$light-red: #D55C5C;
$green: #008000;

// sidebar
$sidebar-bg-color: rgb(245, 245, 245);

// responsiveness
$mobile-width: 500px;
$tablet-width: 768px;
$desktop-width: 1024px;

// ratio
$max-header-height: 60px;
