.btn {
	border-radius: 5px;
	padding: 10px 20px;
  margin: 10px;

  &.red {
    color: darken($light-red, 10)
  }

  &.green {
    color: $green;
  }
}

.btn-default {
  background: $lines;
}

.red-button {
  background: $light-red;
	color: #fff;
}

.button-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
