.page-wrapper {
  color: #444;
  font-size: 1.2em;
  line-height: 1.7;
  margin: 50px 20px;

  .title {
    margin-bottom: 30px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    font-weight: 400;
  }

  p {
    margin-bottom: 2rem;
  }
}
