.topic-wrapper, .chapter-wrapper {
  margin-top: 15px;
  background: $sidebar-bg-color;
  padding: 10px 10px 5px 20px;
  color: rgba(0,0,0,0.7);

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  h3, h4 {
    font-weight: 400;

    span {
      color: $primary-color;
      font-weight: 600;
      margin-right: 5px;
    }
  }
}

.tutorials-index {
  padding: 20px;
}

.tutorial-card {
  border: 1px solid $lines;
  box-shadow: 0px 5px 15px $lines;
  margin-bottom: 20px;
  padding: 20px;

  p.title {
    font-size: 2rem;
    font-weight: 400;
    color: lighten($body-text, 5);
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  .meta {
    color: $primary-color;
    &::before, &::after {
      font-size: 150%;
    }
    &::before {
      content: '{';
      margin-right: 10px;
    }
    &::after {
      content: '}';
      margin-left: 10px;
    }
  }
  .value {
    color: $light-red;
  }
}
